<label>
  First name :
  <input type="text" [(ngModel)]="firebaseService.userData.firstname"/>
</label> <br><br>

<label>
  Last name :
  <input type="text" [(ngModel)]="firebaseService.userData.lastname"/>
</label> <br><br>

<label>
  Age :
  <input type="text" [(ngModel)]="firebaseService.userData.age"/>
</label> <br><br>

<label>
  E-mail :
  <input type="text" [(ngModel)]="firebaseService.userData.email"/>
</label> <br><br>

<label>
  Telephone :
  <input type="text" [(ngModel)]="firebaseService.userData.telephone"/>
</label> <br><br>
<hr>
<button (click)="firebaseService.createData(firebaseService.userData)">Save</button>
<button (click)="firebaseService.resetForm()">Reset</button>

