<label>
  First name :
  <input type="text" [(ngModel)]="firebaseService.userData.firstname"/>
  <div *ngIf="firebaseService.showError"
       style="color: red">
    Invalid first name.
  </div>
</label> <br><br>

<label>
  Last name :
  <input type="text" [(ngModel)]="firebaseService.userData.lastname"/>
</label> <br><br>

<label>
  Age :
  <input type="text" [(ngModel)]="firebaseService.userData.age"/>
</label> <br><br>

<label>
  E-mail :
  <input type="text" [(ngModel)]="firebaseService.userData.email"/>
</label> <br><br>

<label>
  Telephone :
  <input type="text" [(ngModel)]="firebaseService.userData.telephone"/>
</label> <br><br>
<hr>
<button (click)="firebaseService.createData(firebaseService.userData)">Save</button>
<button (click)="firebaseService.resetForm()">Reset</button>
<br><br>
<hr>
<div *ngIf="listUser">
  <table border="1">
    <tr>
      <td>First name</td>
      <td>Last name</td>
      <td>Age</td>
      <td>E-mail</td>
      <td>Telephone</td>
    </tr>
    <tr *ngFor="let user of listUser;let i = index">
      <td>{{ user.firstname }}</td>
      <td>{{ user.lastname }}</td>
      <td>{{ user.age }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.telephone }}</td>
    </tr>
  </table>
</div>

